
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #333;
  background-color: #f4f4f9;
  overflow: hidden;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.navbar {
  background: #2d2743;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.navbar h1 {
  margin: 0;
  font-weight: 500;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  margin-left: 10px;
}


.hero {
  background: url("https://source.unsplash.com/1600x900/?health,technology")
    no-repeat center center/cover;
  color: #000000;
  text-align: center;
  padding: 100px 20px;
}

.hero h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.btn-primary {
  background: #ff4081;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background 0.3s ease;
}



.btn-primary:hover {
  background: #e91e63;
}


.features {
  padding: 50px 20px;
  background: #fff;
  text-align: center;
}

.features h2 {
  margin-bottom: 2rem;
}

.feature-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  background: #fafafa;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: calc(33% - 40px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card h3 {
  margin-top: 0;
  color: #6200ea;
}


.footer {
  background: #333;;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  padding: 5px 0;
  font-size: 0.9rem;
}

.footer p {
  margin: 5px 0;
}


.tool-interface {
  padding: 50px 20px;
  background-color: #f9f9f9;
  text-align: center;
}

.tool-interface h2 {
  font-size: 3rem;
  color: black;
  margin-bottom: -0.8rem;
  font-weight: 800;
}

.tool-interface p {
  font-size: .9rem;
  margin-bottom: 2rem;
  color: #555;
}

.tool-interface-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-form {
    display: flex;
    align-items: center;
    width: 550px;
    padding: 40px 15px;
    border: 1px solid #ddd;
    gap: 25px;
    border-radius: 14px;
    background-color: #fff;
}

.input-form label {
  font-size: 1.2rem;
  font-weight: 700;
  color: #363B44;
  text-align: left;
  margin-left: 10px;
}

.input-form input[type="text"] {
  padding: 18px 20px;
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 7px;
  font-size: 1rem;
}

.btn-submit {
  background-color: #ff4081;
  color: #fff;
  width: 340px;
  padding: 12px 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}
/* 
.btn-submit:hover {
  background-color: #3700b3;
} */
